*.[oda]
*.so
cli
*swp
GPATH
GRTAGS
GSYMS
GTAGS
trash
.gdbinit
conductor/conductor
test/test
test/acrdbench
test/test-coroutine
test/test-all
test/test-concurrent
test/test-txn
test/test-io
test/test-aio
test/test-watch
test/watch_nodes
test/watch_files
valgrind.log
test/test-report.*ml

